*, *:after, *:before {
  box-sizing: border-box; }

th {
  border: 1px solid black;
  text-align: left;
  padding: 20px; }

td {
  border: 1px solid black;
  padding: 0 20px; }

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto; }

tr {
  margin: 0;
  padding: 0; }

h1 {
  color: orange;
  font-size: 50px;
  width: 80%;
  margin: 0 auto; }

nav {
  padding: 20px;
  border: 1px solid #978f8f;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto; }
  nav a {
    text-decoration: none;
    color: #978f8f;
    padding: 10px; }

.option-menu {
  width: 80%;
  margin: 0 auto; }

img {
  width: 300px;
  height: 200px; }

.quantity {
  float: right; }

.sort-price {
  float: right; }

.option-menu {
  padding: 20px; }
  .option-menu a {
    float: right; }

.order-total {
  float: right; }

.container {
  width: 80%;
  margin: 0 auto; }

.shopping {
  width: 100%; }
