*, *:after, *:before {
  box-sizing: border-box; }

h1 {
  color: orange;
  font-size: 50px;
  width: 80%;
  margin: 0 auto; }

nav {
  padding: 20px;
  border: 1px solid #978f8f;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto; }
  nav a {
    text-decoration: none;
    color: #978f8f;
    padding: 10px; }

.option-menu {
  width: 80%;
  margin: 0 auto; }
